streamlit

langchain
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters

transformers
accelerate
sentence-transformers


faiss-cpu

pypdf

python-dotenv

huggingface-hub

datasets

ragas

